aside {
  display: flex;
  flex-direction: column;
  width: 16.666667%;
  background: #76abae;
}

aside img {
  margin: 2.5rem auto;
  width: 50%;
  height: 12rem;
  user-select: none;
}

aside nav {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  gap: 0.25rem;
}
