header {
  padding: 1.25rem;
  width: 100%;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background: #76abae;
  box-shadow: 0 15px 60px -15px rgba(0, 0, 100, 0.3);
}
